---
import { MystoviaLogo } from "../../assets/logos";
---

<section class="flex justify-start items-center pt-32 flex-col relative py-20">
  <h1 class="text-5xl flex-center gap-2 md:text-6xl font-bold mb-6 z-50">
    Bienvenidos a
    <img
      src={MystoviaLogo.src}
      alt="Mystovia Logo Header"
      class="w-120 h-auto"
    />
  </h1>

  <p class="text-2xl font-extrabold text-gray-300 p-4 rounded-2xl bg-black/60 mb-8 max-w-3xl shadow-md mx-auto z-50">
    Forja tu leyenda en Mystovia <br/>
    Un reino clásico, peligros reales y recompensas únicas.
  </p>

  <div class="flex z-50 flex-col sm:flex-row gap-4 justify-center">
    <a
      href="/register"
      class="btn-medieval btn-medieval-primary btn-medieval-lg"
    >
      <span>Crear cuenta</span>
    </a>
    <a
      href="https://github.com/estanisalpre/otserver-monorepo/releases/download/v0.0.1/MystoviaLauncher.exe"
      download="MystoviaLauncher.exe"
      class="btn-medieval btn-medieval-secondary btn-medieval-lg"
    >
      <span>Descargar Mystovia Client</span>
    </a>
  </div>
</section>
