---
import LoginComponent from "../store/LoginComponent.astro"
---

<section class="min-h-screen grid grid-cols-3 grid-rows-10 w-5/6 mx-auto bg-transparent rounded-4xl">
    <LoginComponent />
</section>