---
import LoginComponent from "../store/LoginComponent.astro"
import FeaturesSection from "../store/FeaturesSection.astro"
import ServerStats from "../store/ServerStats.tsx"
---

<section class="min-h-screen grid place-items-center grid-cols-4 grid-rows-10 w-full max-w-[1150px] gap-2 mx-auto bg-transparent rounded-4xl">
    <LoginComponent />
    <FeaturesSection />
    <ServerStats client:load />
</section>