---
interface Props {
  title: string;
  description: string;
  icon?: any;
};

const { title, description, icon: Icon } = Astro.props;
---

<header class="mb-4 pb-5 border-b border-gray-600">
  <h1 class="text-4xl flex justify-start items-center gap-4 font-bold mb-4">
    {Icon && <Icon size={32} />}
    {title}
  </h1>
  <p class="text-base-content/70">
    {description}
  </p>
</header>
