---
import { CircleX, OctagonAlert, CircleCheck, Info } from "@lucide/astro";

const { type, message } = Astro.props;

if (!message) return null;

const forwarded = { ...Astro.props };
delete forwarded.type;
delete forwarded.message;
---
<div
  {...forwarded}
  class={`alert-${type} flex items-start justify-center gap-4 my-2 p-3 rounded-md border ${
    type === "success"
      ? "bg-green-900/40 border-green-400 text-green-200"
      : type === "error"
      ? "bg-red-900/40 border-red-400 text-red-200"
      : "bg-blue-900/40 border-blue-400 text-blue-200"
  }`}
>
  {type === "success" && <CircleCheck size={20} />}
  {type === "error" && <CircleX size={20} />}
  {type === "info" && <Info size={20} />}
  {type === "warn" && <OctagonAlert size={20} />}
  <p>{message}</p>
</div>
