---
import { MystoviaLogo } from "../assets/logos";
import CartButton from "./CartButton";
import HeaderAuth from "./HeaderAuth";
import { Store } from "@lucide/astro";
---

<header class="fixed z-100 top-0 flex-center w-full px-42 py-2 backdrop-blur-md bg-black/30">
  <a href="/">
    <img
      src={MystoviaLogo.src}
      alt="Mystovia Logo"
      class="w-50 h-auto cursor-pointer transform transition-all hover:mb-2"
    />
  </a>

  <nav class="w-full medieval-font font-semibold flex-center gap-6 px-4 py-2">
    <a href="/marketplace" class="nav-link-important">
      <Store size={18} /> Tienda
    </a>
    <a href="/news" class="nav-link">Noticias</a>
    <a href="/forum" class="nav-link">Foro</a>
    <a href="/wiki" class="nav-link">Wiki</a>
    <a href="/downloads" class="nav-link">Descargas</a>
    <a href="/rules" class="nav-link">Reglas</a>
    <a href="/faqs" class="nav-link">FAQs</a>
    <a href="/support" class="nav-link">Soporte</a>
  </nav>

  <aside class="flex-center gap-4">
    <CartButton client:only="react" />
    <HeaderAuth client:only="react" />
  </aside>
</header>
