---
interface Props {
  opacity?: number;
  size?: number;
  class?: string;
}

const { opacity = 0.03, size = 30, class: className = '' } = Astro.props;
---

<div
  class:list={["absolute inset-0 pointer-events-none", className]}
  style={`opacity: ${opacity}; background-image: url('data:image/svg+xml,%3Csvg width="60" height="60" viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M30 0L60 30L30 60L0 30z" fill="%23d4af37" fill-opacity="0.4"/%3E%3C/svg%3E'); background-size: ${size}px ${size}px;`}
></div>
